body {
    @include light;
    color: $text-color;
}

img {
    max-width: 100%;
}

.section {
    padding: 100px 0;

    &-title {
        font-size: 30px;
        text-align: center;
        @include bold;
        text-transform: uppercase;

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__title {
        margin-bottom: 100px;
    }

    @media (max-width: 576px) {
        padding: 60px 0;
    }
}

.button-o {
    border: 2px solid $primary;
    text-transform: uppercase;
    padding: 17px 22px;
    font-size: 12px;
    @include bold;
    color: $primary;
    background-color: transparent;
    text-decoration: none;

    @media (max-width: 576px) {
        font-size: 10px;
    }
}

.button {
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background-color: $primary;
    color: #ffffff;
    @include bold;
    text-decoration: none;

    &-fitting {
        color: $primary;
        background: #ffffff;
    }

    &-add {
        background-color: lighten($primary, 10%);
        color: #ffffff;
    }

    &-like {
        background-color: $primary;
        width: 30px;
        height: 30px;
        border: none;
    }

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 400px) {
        font-size: 10px;
    }
}

.bg-secondary {
    background-color: $bg-secondary;
}

.input {
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd;
}

.checkbox {
    display: none;

    &:checked + .checkbox-label::before {
        background-color: $primary;
    }

    &-label {
        display: flex;
        align-items: center;
        margin-right: 40px;

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '';
            width: 30px;
            height: 30px;
            border: 1px solid #dddddd;
            margin-right: 20px;
        }
    }
}