.hero {
    background: #f1f1f1 url("../../img/bg-1.jpg") no-repeat center top 80px;
    background-size: contain;
    padding-top: 180px;
    padding-bottom: 270px;

    @media (max-width: 576px) {
        background-size: cover;
        background-position: top left 30%;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    &__subtitle {
        display: block;
        margin-bottom: 67px;
        font-size: 30px;
        @include bold;
    }
}