.navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: #ffffff;

    @media (max-width: 991px) {
        &__mobile, &__landline {
            display: none;
        }
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
    }

    &__mobile, &__landline {
        text-align: right;
    }

    &__phone {
        display: block;
        font-size: 19px;
        text-transform: uppercase;
        @include bold;
        text-decoration: none;
        color: $text-color;
        margin-bottom: 5px;
    }

    &__small-text {
        display: block;
        font-size: 14px;
        color: $text-color-light;
        text-decoration: none;
    }
}

.menu {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 0;
    width: 100%;
    padding: 16px;
    background-color: $primary;
    transform: translateY(-200%);
    transition: 0.3s;
    opacity: 0;

    &--active {
        transform: translateX(0);
        opacity: 1;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__link {
        font-size: 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-right: 1px solid rgba(#510bba, 0.1);
        border-left: 1px solid rgba(#510bba, 0.1);
        height: 80px;
        width: 70px;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none; // Лучше убрать
        }

        @media (max-width: 576px) {
            height: 60px;
        }

        &__line {
            display: block;
            width: 20px;
            height: 3px;
            background-color: #89a9eb;
            margin: 2px 0;
        }
    }
}

.logo {
    &__text {
        display: block;
        color: #262626;
        font-size: 18px;
        @include bold;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__description {
        display: block;
        color: $text-color-light;
        font-size: 14px;
    }

    @media (max-width: 576px) {
        display: none;
    }
}